<?xml version="1.0"?>
<!-- Beispielcode – nicht produktiv einsetzen. -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="blame76share" frontName="blame76share">
            <module name="Blame76_AdminShareLinks" before="Magento_Backend"/>
        </route>
    </router>
</config>
